{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
  {% block content%}     
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">Email: {{ user.email }}</p>
          <p class="text-secondary">Employee Number: {{ user.profile.employee_Number }}</p>
          <p class="text-secondary">Contact Number: {{ user.profile.mobile_Number }}</p>
        </div>
      </div>
      
    </div>
  {% endblock content%}
